name: GitHub Metrics

on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch: # Run manually
  push:
    branches: [main]
    paths:
      - .github/workflows/github-metrics.yml
  
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      # - name: Cache Metrics
      #   uses: actions/cache@v3
      #   with:
      #     path: ~/
      #     key: metrics-cache
      #     restore-keys: |
      #       metrics-cache
            
      - name: Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg
          config_timezone: America/Denver
          base: header, activity
          base_indepth: yes
          config_order: base.header, base.activity+community, followup
          extras_css: |
            svg {
              color: silver !important;
            }
            
            h1, h2, h3 {
              color: LightSeaGreen !important;
              font-weight: bold;
            }

            .language.details small{
              color: #929fad !important;
            }

            .legend .field:nth-last-child(2),
            .legend .field:nth-last-child(1) {
                display:none;
            }

            h2.field {
              overflow: hidden;
              height: 0;
              width: 0;
            }

            section > small {
              display:none;
            }
          # extras_js: |
          #   const svg = document.querySelectorAll("svg")[0]
          #   if (svg) {
          #     const height = svg.getAttribute("height")
          #     if (height) {
          #       svg.setAttribute("height", String(parseInt(height) - 60));
          #     }
          
          # plugin_notable: yes
          # plugin_notable_from: all
          # plugin_notable_indepth: yes
          # plugin_notable_repositories: yes

          plugin_followup: yes
          plugin_followup_sections: user
          plugin_followup_indepth: yes

          # debug: yes
          # debug_print: yes
