name: GitHub Contributor Stats
# https://github.com/HwangTaehyun/github-repository-contribution-stats/blob/main/action/README.md

on:
  schedule:
    - cron: '0 0 * * *'  # Daily at midnight
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Generate GitHub Contributor Stats SVG
        uses: HwangTaehyun/github-contributor-stats/action@main
        env:
          GITHUB_PERSONAL_ACCESS_TOKEN: ${{ secrets.GITHUB_PERSONAL_ACCESS_TOKEN }}
        with:
          username: bvandercar-vt
          output-file: github-contributor-stats.svg
          theme: merko
          combine-all-yearly-contributions: true
          hide-contributor-rank: false
          rate-limit-delay-ms: 100
          bg-color: 00000000
          order-by: contributions
          # hide: B

      - uses: actions4git/add-commit-push@v1
        continue-on-error: true
